.single-club-basics {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.single-club-basics:last-of-type {
  border-bottom: none;
}

.single-club-partner-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.basic-accredited-counts{
  display: flex;
  justify-content: end;
  flex-direction: column;
  border: 1px solid #000;
}

.single-club-title{
  text-align: center;
}

.single-club-type{
  text-align: center;
  font-weight: bold;
}