.propose-investment-button{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.partner-list-button-area{
  padding-right: 50px;
}

.club-total-investments-group{
  display: flex;
}

.prop-inv-button{
  vertical-align: middle;
}

.club-page-main-container{
  margin-top: 23px;
}