.vote-container{
  margin-top: 38.4px;
  border: 1px solid #000;
  border-radius: 28px;
  width: 350px;
  height: 100%;
}

.vote-container-title{
  margin-top: 15px;
  text-align: center;
}

.vote-generator{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}