.club-partner-list-container{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner-in-club{
  text-shadow: 2px 3px 18px rgba(70, 30, 73, 0.692);
  margin-left: 15px;
  margin-right: 15px;
}